In [20]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# pandas series

In [2]:
s1 = pd.Series([1, 2, 3, 4])
s1

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
s1.values

array([1, 2, 3, 4], dtype=int64)

In [4]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
s2 = pd.Series(np.arange(10))
s2

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [6]:
s3 = pd.Series({'1':1, '2':2, '3':3})
s3

1    1
2    2
3    3
dtype: int64

In [7]:
s3.index

Index(['1', '2', '3'], dtype='object')

In [8]:
s3.values

array([1, 2, 3], dtype=int64)

In [9]:
s4 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
s4

a    1
b    2
c    3
d    4
dtype: int64

In [10]:
s4.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [11]:
s4['a']

1

In [12]:
s4[s4>2]

c    3
d    4
dtype: int64

In [13]:
s5 = s4.to_dict()
s5

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [15]:
index_1 = (['a', 'b', 'c', 'd', 'e'])
s6 = pd.Series(s5, index=index_1)
s6

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
dtype: float64

In [16]:
pd.isnull(s6)

a    False
b    False
c    False
d    False
e     True
dtype: bool

In [17]:
pd.notnull(s6)

a     True
b     True
c     True
d     True
e    False
dtype: bool

In [18]:
s6.name = 'demo'
s6

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
Name: demo, dtype: float64

In [19]:
s6.index.name = 'index_demo'
s6.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object', name='index_demo')

# pandas dataframe

In [21]:
import webbrowser
link = 'https:/www.tiobe.com/tiobe-index/'
webbrowser.open(link)

True

In [26]:
df = pd.read_clipboard()
df

   Mar 2021  Mar 2020  Change Programming Language Ratings Change.1
0         1         2  change                    C  15.33%   -1.00%
1         2         1  change                 Java  10.45%   -7.33%
2         3         3     NaN               Python  10.31%   +0.20%
3         4         4     NaN                  C++   6.52%   -0.27%
4         5         5     NaN                   C#   4.97%   -0.35%
5         6         6     NaN         Visual Basic   4.85%   -0.40%
6         7         7     NaN           JavaScript   2.11%   +0.06%
7         8         8     NaN                  PHP   2.07%   +0.05%
8         9        12  change    Assembly language   1.97%   +0.72%
9        10         9  change                  SQL   1.87%   +0.03%

In [27]:
type(df)

pandas.core.frame.DataFrame

In [28]:
df.columns

Index(['Mar 2021', 'Mar 2020', 'Change', 'Programming Language', 'Ratings',
       'Change.1'],
      dtype='object')

In [29]:
df.Ratings

0    15.33%
1    10.45%
2    10.31%
3     6.52%
4     4.97%
5     4.85%
6     2.11%
7     2.07%
8     1.97%
9     1.87%
Name: Ratings, dtype: object

In [31]:
df["Mar 2020"]

0     2
1     1
2     3
3     4
4     5
5     6
6     7
7     8
8    12
9     9
Name: Mar 2020, dtype: int64

In [30]:
df_new = DataFrame(df, columns=["Programming Language", "Mar 2021"])
df_new

  Programming Language  Mar 2021
0                    C         1
1                 Java         2
2               Python         3
3                  C++         4
4                   C#         5
5         Visual Basic         6
6           JavaScript         7
7                  PHP         8
8    Assembly language         9
9                  SQL        10

In [33]:
df_new_2 = DataFrame(df, columns=["Programming Language", "Mar 2021", "Mar 2020"])
df_new_2

  Programming Language  Mar 2021  Mar 2020
0                    C         1         2
1                 Java         2         1
2               Python         3         3
3                  C++         4         4
4                   C#         5         5
5         Visual Basic         6         6
6           JavaScript         7         7
7                  PHP         8         8
8    Assembly language         9        12
9                  SQL        10         9

In [35]:
df_new_2["Mar 2020"] = range(1,11)
df_new_2

  Programming Language  Mar 2021  Mar 2020
0                    C         1         1
1                 Java         2         2
2               Python         3         3
3                  C++         4         4
4                   C#         5         5
5         Visual Basic         6         6
6           JavaScript         7         7
7                  PHP         8         8
8    Assembly language         9         9
9                  SQL        10        10

In [36]:
df_new_2["Mar 2020"] = np.arange(1,11)
df_new_2

  Programming Language  Mar 2021  Mar 2020
0                    C         1         1
1                 Java         2         2
2               Python         3         3
3                  C++         4         4
4                   C#         5         5
5         Visual Basic         6         6
6           JavaScript         7         7
7                  PHP         8         8
8    Assembly language         9         9
9                  SQL        10        10

In [37]:
df_new_2["Mar 2020"] = pd.Series(np.arange(1,11))
df_new_2

  Programming Language  Mar 2021  Mar 2020
0                    C         1         1
1                 Java         2         2
2               Python         3         3
3                  C++         4         4
4                   C#         5         5
5         Visual Basic         6         6
6           JavaScript         7         7
7                  PHP         8         8
8    Assembly language         9         9
9                  SQL        10        10

In [38]:
df_new_2["Mar 2020"] = pd.Series([100, 200], index=[1, 2])
df_new_2

  Programming Language  Mar 2021  Mar 2020
0                    C         1       NaN
1                 Java         2     100.0
2               Python         3     200.0
3                  C++         4       NaN
4                   C#         5       NaN
5         Visual Basic         6       NaN
6           JavaScript         7       NaN
7                  PHP         8       NaN
8    Assembly language         9       NaN
9                  SQL        10       NaN

# 深入理解series和dataframe

In [41]:
data = {
    'Country': ['China', 'India', 'Brazil'],
    'Capital': ['Beijing', 'New Delhi', 'Brasilia'],
    'Population': [1432732201, 1303171635, 207847528]}