In [1]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.multiclass import OneVsOneClassifier
from sklearn.pipeline import Pipeline
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel("D:/project/dataset/test/dfnc_sheet3.xlsx")
data.head()

   BQ         RA  AF  LL       LL1  LL2  LL3       LL4
0   1   3.997481  12 NaN  3.001890  NaN  NaN  0.033920
1   1  32.784757   4 NaN  0.122008  NaN  NaN  0.063746
2   1  17.840364   9 NaN  0.504474  NaN  NaN  0.068725
3   1   6.707751   6 NaN  0.894488  NaN  NaN  0.081997
4   1   5.762218  27 NaN  4.685695  NaN  NaN  0.122008

In [3]:
data = data.drop('LL',axis=1)
data = data.drop('LL1',axis=1)
data = data.drop('LL4',axis=1)
data = data.drop('LL2',axis=1)
data = data.drop('LL3',axis=1)
data.head()

   BQ         RA  AF
0   1   3.997481  12
1   1  32.784757   4
2   1  17.840364   9
3   1   6.707751   6
4   1   5.762218  27

In [4]:
X = data.copy().drop('BQ',axis=1)
X.head()

          RA  AF
0   3.997481  12
1  32.784757   4
2  17.840364   9
3   6.707751   6
4   5.762218  27

In [5]:
y = data.loc[:,'BQ']
y.head()

0    1
1    1
2    1
3    1
4    1
Name: BQ, dtype: int64

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=666)

In [7]:
log_reg = LogisticRegression()

In [8]:
def StandardOVO(log_reg):
    return Pipeline([
        ('std_scaler', StandardScaler()),
        ('OVO_clf', OneVsOneClassifier(log_reg))
    ])

In [9]:
ovo = StandardOVO(log_reg)
ovo.fit(X_train, y_train)

Pipeline(steps=[('std_scaler', StandardScaler()),
                ('OVO_clf',
                 OneVsOneClassifier(estimator=LogisticRegression()))])

In [10]:
ovo.score(X_test, y_test)

0.9696969696969697

In [11]:
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

def StandardLinearSVR():
    return Pipeline([
        ('std_scaler', StandardScaler()),
        ('linearSVR', LinearSVC())
    ])

svr = StandardLinearSVR()
svr.fit(X_train, y_train)

Pipeline(steps=[('std_scaler', StandardScaler()), ('linearSVR', LinearSVC())])

In [12]:
svr.score(X_test, y_test)

0.9848484848484849